Control Statements
<ul>
<li><a href="toc.html" >Table of index</a></li>
<li><a href="Contribution index.html">Contributer</a></li>

</ul>
<ol>
   <li><a href="If Statement.txt">IF statement</a></li>
    <li><a href="Structures-Array of structures.txt"> Structures - Array of structures</a></li>
    <li><a href="Structures - Nested Structure.txt">Structures - Nested Structure</a></li>
   <li><a href="functions - basics and defenition.txt">functions - basics and defenition</a></li>
    
   <li> <a href="cnotes.pdf">Handwritten comprehensive notes</a></li>

</ol>
